{% extends 'main.html' %}


{% block content %}
<h1>Membership Packages</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for package in packages %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ package.name }}</h5>
                    <p>Price: Rs.{{ package.price }}</p>
                    <p class="card-text">{{ package.description }}</p>
                    <a href="{% url 'book_membership' package.id %}" class="btn btn-primary">Book Now</a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated {{ package.updated_at }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}